* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(41, 130, 246);
  background: linear-gradient(
    90deg,
    rgba(41, 130, 246, 1) 2%,
    rgba(41, 130, 246, 1) 18%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 17px;
  color: #f4f4f4;
}

.header {
  margin: 7vh auto 0 auto;
  max-width: 1200px;
}

ul {
  list-style: none;
}

.panel {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.panel__excursions {
  width: 70%;
}

.excursions {
  display: flex;
  flex-wrap: wrap;
}

.excursions__item {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: calc(50% - 20px);
}

.excursions__description {
  margin: 1rem 0;
}

.excursions__field {
  margin: 1rem 0;
  font-size: 17px;
  font-weight: bold;
}

.panel__form {
  padding: 20px;
  width: 30%;
}

.uploader,
.order {
  border-bottom: 1px solid #d1d6e2;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.summary__item--prototype {
  display: none;
}

.excursions__item--prototype {
  display: none;
}

.excursions__field-input, .order__field-input {
  background-color: #f4f4f4;
 
  margin-top: 0.5rem;
  
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.excursions__field-input--submit, .order__field-submit{
  background: rgb(0, 34, 215);
  background: linear-gradient(
    90deg,
    rgba(0, 34, 215, 1) 7%,
    rgba(52, 49, 210, 1) 37%
  );
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: white;
}

.order__field--submit,
.excursions__field-input--update {
  color: white !important;
}

.summary__btn-remove{
    color: red;
    text-decoration :none;
}

.error__list li {
    color: red;
    font-weight: bold;
}

.panel__summary{

     background: rgb(0, 34, 215);
  background: linear-gradient(
    90deg,
    rgba(0, 34, 215, 1) 7%,
    rgba(52, 49, 210, 1) 37%)
}

.summary__item{
   
    padding: 20px;
}

.order__total-price{
    font-size: 25px;
}

.cart{
    margin-bottom: .5rem;
    display: none;
}
